<h1>Listing Candidates</h1>
 
<table>
  <tr>
    <th>FirstName</th>
    <th>LastName</th>
    <th>EmailAddress</th>
    <th>PhoneNumber</th>
  </tr>
 
  <% @candidates.each do |candidate| %>
    <tr>
      <td><%= candidate.FirstName %></td>
      <td><%= candidate.LastName %></td>
      <td><%= candidate.EmailAddress %></td>
      <td><%= candidate.PhoneNumber %></td>
    </tr>
  <% end %>
</table>