<p>
  <strong>First Name:</strong>
  <%= @candidate.FirstName %>
</p>
 
<p>
  <strong>Last Name:</strong>
  <%= @candidate.LastName %>
</p>

<p>
  <strong>EmailAddress:</strong>
  <%= @candidate.EmailAddress %>
</p>

<p>
  <strong>PhoneNumber:</strong>
  <%= @candidate.PhoneNumber %>
</p>


<p>
test
</p>